---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Works from '../components/Works.astro'
import Gradient from '../components/Gradient.astro'
const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <Hero />
  </section>

  <div class="">
    <Works />
  </div>
</BaseLayout>
