---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Resume'
---

<BaseLayout pageTitle={pageTitle}>
  <div class="my-8 flex justify-center">
    <embed
      src="/Ciel Park Resume.pdf"
      style="width:718px; height:980px;"
      type="application/pdf"
    />
  </div>
</BaseLayout>
