<style>
  :root {
    --color-bg1: #383c42;
    --color-bg2: #000000;
    --color1: 123, 132, 127;
    --color2: 65, 80, 96;
    --color3: 48, 70, 90;
    --color4: 45, 56, 87;
    --color5: 49, 43, 36;
    --color-interactive: 50, 46, 71;
    --circle-size: 90%;
    --blending: hard-light;
  }
  section {
    height: calc(100vh - 1.75rem);
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  .gradient-bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
    z-index: -100;
    mix-blend-mode: normal;
  }
  .gradient-bg .svgBlur {
    display: none;
  }
  .gradient-bg .noiseBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    mix-blend-mode: overlay;
    opacity: 1;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 250px 250px;
  }
  .gradient-bg .gradients-container {
    z-index: 1; /* Ensure this is below the noise layer */
    filter: url(#goo) blur(30px);
    width: 100%;
    height: 100%;
  }
  .gradient-bg .g1,
  .gradient-bg .g2,
  .gradient-bg .g3,
  .gradient-bg .g4,
  .gradient-bg .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color), 0.8) 0,
        rgba(var(--color), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    opacity: 1;
  }
  .gradient-bg .g1 {
    --color: var(--color1);
    animation: moveVertical 20s ease infinite;
  }
  .gradient-bg .g2 {
    --color: var(--color2);
    animation: moveInCircle 15s reverse infinite;
    transform-origin: calc(50% - 400px);
  }
  .gradient-bg .g3 {
    --color: var(--color3);
    animation: moveInCircle 40s linear infinite;
    transform-origin: calc(50% + 400px);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
  }
  .gradient-bg .g4 {
    --color: var(--color4);
    animation: moveHorizontal 40s ease infinite;
    transform-origin: calc(50% - 200px);
    opacity: 0.7;
  }
  .gradient-bg .g5 {
    --color: var(--color5);
    animation: moveInCircle 20s ease infinite;
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
  }
  .gradient-bg .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
</style>
<section>
  <div class="gradient-bg">
    <div class="noiseBg"></div>
    <svg xmlns="http://www.w3.org/2000/svg" class="svgBlur">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"
          ></feGaussianBlur>
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
            result="goo"></feColorMatrix>
          <feBlend in="SourceGraphic" in2="goo"></feBlend>
        </filter>
      </defs>
    </svg>
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
      <div class="interactive"></div>
    </div>
  </div>
</section>
<!-- partial -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const interBubble = document.querySelector('.interactive') as HTMLElement
    let curX = 0
    let curY = 0
    let tgX = 0
    let tgY = 0

    const move = () => {
      curX += (tgX - curX) / 20
      curY += (tgY - curY) / 20
      interBubble.style.transform = `translate(${Math.round(curX)}px, ${Math.round(curY)}px)`
      requestAnimationFrame(move)
    }

    const handleMouseMove = (event: MouseEvent) => {
      tgX = event.clientX
      tgY = event.clientY
    }

    window.addEventListener('mousemove', handleMouseMove, { passive: true })

    move()
  })
</script>
