---
const { title, url, image, color } = Astro.props
---

<a href={url}>
  <div
    class:list={[
      'group h-96 overflow-hidden rounded-xl border-2 border-black p-8 pt-20 font-semibold text-zinc-700 drop-shadow-lg md:p-20',
      color,
    ]}>
    <img
      class="transform rounded-xl border transition group-hover:-translate-y-3"
      src={image.url}
    />
  </div>
  <h2 class="pt-6">{title}</h2>
</a>
