---
import Container from '../components/Container.astro'

const intro1 = 'Ciel is a designer and developer'
const intro2 = 'with a background in computer science'
const intro3 =
  'designing digital experiences that simplify, engage, and spark joy'
---

<style>
  model-viewer {
    --progress-bar-color: none;
    --progress-bar-height: 0px;
  }
</style>

<!-- Import the component -->
<script
  type="module"
  src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"
></script>

<link rel="stylesheet" href="/src/main.css" />

<section
  class="flex h-[calc(100vh-96px)] flex-col items-center text-center align-middle">
  <div
    class="m-auto my-6 flex grow px-4 sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl">
    <h1 class="flex items-center justify-center text-center">
      <span class="inline leading-relaxed"
        >{intro1}
        <model-viewer
          camera-controls
          alt="A 3D model of a bow"
          poster="../../images/3d/bow.jpg"
          src="../../images/3d/bow.gltf"
          camera-orbit="180deg 2m"
          disable-zoom
          disable-pan
          interaction-prompt="none"
          auto-rotate
          rotation-per-second="30deg">
        </model-viewer>
        {intro2}
        <model-viewer
          camera-controls
          alt="A 3D model of a cloud"
          poster="../../images/3d/cloud.jpg"
          src="../../images/3d/cloud.gltf"
          camera-orbit="180deg 2m"
          disable-zoom
          disable-pan
          interaction-prompt="none"
          auto-rotate
          rotation-per-second="30deg">
        </model-viewer>
        {intro3}
        <model-viewer
          camera-controls
          alt="A 3D model of a bunny"
          poster="../../images/3d/bunny.jpg"
          src="../../images/3d/bunny.gltf"
          camera-orbit="180deg 2m"
          disable-zoom
          disable-pan
          interaction-prompt="none"
          auto-rotate
          rotation-per-second="30deg">
        </model-viewer>
      </span>
    </h1>
  </div>
  <div
    class="mx-auto my-6 flex w-fit gap-4 rounded-xl border-2 border-black p-2 px-6">
    <a href="https://www.linkedin.com/in/parkciel/"
      ><img class="hoverable h-6" src="/icons/linkedin.svg" /></a
    >
    <a href="https://github.com/cielcp">
      <img class="hoverable h-6" src="/icons/github.svg" />
    </a>
    <a href="https://www.behance.net/cielpark1">
      <img class="hoverable h-6" src="/icons/behance.svg" />
    </a>
  </div>
</section>
