---
// Component Imports
import Navigation from '../components/Navigation.astro'
import '../base.css'
const { pageTitle } = Astro.props

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../src/base.css" />
    <style is:global>
      model-viewer {
        --progress-bar-color: none;
        --progress-bar-height: 0px;
      }
    </style>

    <!-- import the modelviewer component -->
    <script
      type="module"
      src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"
    ></script>
  </head>

  <body
    class="font-heebo flex justify-center bg-[#F9F8F3] leading-loose tracking-wide">
    <div class="w-screen items-center">
      <Navigation />
      <slot />
    </div>
  </body>
</html>
