---
// Component Imports
import Navigation from '../components/Navigation.astro'
const { pageTitle } = Astro.props

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../src/main.css" />
  </head>

  <body
    class="font-readex flex justify-center font-bold leading-loose tracking-wide">
    <div class="w-screen items-center">
      <Navigation />
      <slot />
    </div>
  </body>
</html>
